<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>登陆</title>
</head>

<body>
<h1>登陆页面：</h1>
<form method = 'post' enctype="multipart/form-data" action="/login/">
    {% csrf_token %}
    <p>
    	<label for="id_username">用户名:</label>
    	<input id="id_username" maxlength="100" name="username" type="text">
    </p>
    <p>
    	<label for="id_password">密码:</label>
    	<input id="id_password" maxlength="100" name="password" type="password">
    </p>
    <input type="submit" value = "ok" />
</form>
<br>
<a href="http://127.0.0.1:8000/online/regist/">注册</a>
</body>
</html>